

/* public */
img{
    width:100%;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
a{
text-decoration: none;
color:black;
}
a:hover{
    color:black;
    text-decoration: none;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
}
.HeroCont{
    background-image: url("../images/Home/hero.png");
    padding-top:33px;
    padding-bottom: 200px;
}
.logo {
    font-size: 3.000em;
    font-weight: bold;
    
}
.logo a{
    color:white;
}
.topHeader{
    margin-bottom:23px;
    display: block;
    padding:10px 0;
}
.topHeaderContact{
    display: inline-block;
    margin-right:60px;
}
.topHeaderContact:last-child{
    margin-right: 0;;
}
.contactIcon{
    width:40px;
    overflow: hidden;
    margin-right:10px;
    display: inline-block;
    float: left;
}
.contactDetails {
    display: inline-block;
    float: left;
}
.contactDetails span{
    display: block;
    font-size: 0.900em;
    color:white;
}
.contactDetails p{
    font-size: 1.400em;
    color: white;
    font-weight: bold;
}
.navbar{
    padding:20px 30px;
    background-color: #CCB892;
    border-radius: 10px;;
    width: 100%;;
}
.navbar-expand-lg .navbar-nav .nav-link,.loginBtns a{
    font-size:1.100em;
    font-weight: 500;
    padding:0 30px;
    color:#121212
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    color:#18407C
}
.nav-item{
    padding:0;
}
.loginBtns a.postJob{
    background-color: #18407C;
    border-radius: 10px;
    color:white;
    width:140px;
    height:40px;
    line-height: 40px;
}
.menu .logo{
    display: none;
}
.navbar-toggler {
    width:50px;
    border:1px solid #121212;
}
.navbar-toggler i{
    background-color: #121212;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin:5px auto;
}
.menu .logo a{
    color:#121212
}

.heroContent{
    margin-top: 250px;
}
.heroContent h1{
    font-size: 3.500em;
    margin-bottom: 19px;
}
.heroContent h1 span{
    color:#CCB892
}
.heroContent p{
    font-size:1.100em;
    color:white;
}
.searchbox .formGroup:first-child {
    border: 0;
}
.searchbox form{
    width: 100%;
    float: left;
    display: block;
    margin-top: 0;
    margin:0;;
  
}

.innerContainer{
    padding: 60px 240px 150px 240px;
}
.herocateg .container{
padding :60px 0;
height: 100%;
}
.hom2Hero .searchBox{
width:100%;
}
.searchcont{
    margin-top:40px;
}
.searchBox .formGroup{
    margin: 0;
	padding: 0;
    float: left;
    width: 25%;
    padding: 0 0 0 10px;
    background: #fff;
    border-radius: 0;
    border-left: 1px solid #f1f1f1;
    /**/
    height: 100%;
}
.searchBox .formGroup input,.searchBox .formGroup select{
    width: 100%;
    height: 100%;
    padding-left: 5px;
    color: #8C98AA;
    }
.inputandicon{
    position: relative;
}

.lookigFor{
    position: relative;
    padding: 15px 0;
    border: 0;
    height: 50px;
    border-radius: 7px;
    font-size: 15px;
    line-height: 30px;

    
}
.lookigFor::placeholder{
    color: #999;
}
.selectmenu {
    color: #999;
    float: left;
    width: 100%;
    position: relative;
    text-transform: uppercase;
}
 .selectmenu select{
    border: 0;
    height: 50px;
    border-radius: 0;
    font-size: 14px;
    line-height: 30px;
    background: #fff;
    appearance: none;
    -webkit-appearance:none;
}
.inputandicon i{
    position: absolute;
  z-index: 2;
    color: #8C98AA;
    right: 5px;
    font-size: 16px;
    line-height: 50px;
    top:5px;
}
.btn-common {
   
    padding: 0;
    width: 100%;
        height:60px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    float: left;
    letter-spacing: .5px;
    background-color: #18407C;
color:white;
font-size:14px;}
    
    .btn-common:hover{
        background-color: #CCB892;
        box-shadow: 0 5px 20px rgba(0,0,0,.2);
        color:black;
        transition: all .5s;;
    
}
.searchInner{
    overflow: hidden;
     margin: 0;
     width: 100%;
     float: left;
     position: relative;
     background-color: white;
     height:60px;
     border-radius: 0px 10px 10px 0px;

}
.searchBox{
    width: 85%;
    margin:auto;
    margin-top:70px;
}
section{
    padding-top:119px;
}
.sectionTitle {
    margin-bottom:90px;
    text-align: center;
}
.sectionTitle h3{
    text-align: center;
font-size:2.000em;
letter-spacing: 0px;
color: #121212;
margin-bottom:10px;
}
.sectionTitle p{
    color:#8C98AA;
    font-size:1.100em
}
.categBox{
    padding:32px 30px;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 3px 26px #00000029;
    border-radius: 20px;
    padding-bottom: 70px;
    transition: all .5s;
    height: 375px;


}
.categBox span{
    display: block;
    font-size: 1.100em;
    color:#8C98AA;
    padding:8px 20px;
    border:1px solid #8C98AA;
    border-radius:10px

}
.categBox .categIcon{
    width: 90px;
    height: 90px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 26px #0000000F;
border-radius: 50%;
margin:auto;
margin-bottom: 23px;
margin-top:38px;
padding: 25px;
}
.categBox h3{
    color: #121212;
    font-size: 1.350em;
    margin-bottom:30px;
}
.categBox .categIcon img{
    margin:auto
}

.categBox:hover{
    background-color: #18407C;
}
.categBox:hover  h3{
    color:white;
}
.categBox:hover span{
    color:white;
    transition: all .5s;
}
.leftTrusted{
    position: relative;
}
.leftTrusted span{
    position: absolute;
    background-color: #18407C;
    border-radius: 10px;;
    font-size: 1.650em;
    color: white;
    padding: 10px 50px;
    left:48%;
    top:70%;
    text-align: center;


}
.leftImg{
    width:300px;
    height:450px;
    overflow: hidden;
    border-radius: 20px;
    display: inline-block;
    float: left;
}
.leftImg img,.rightImg img{
    height:100%;
    width: auto;
    float: left;
}
.rightImg{
    width:200px;
    height:280px;
    overflow: hidden;
    border-radius: 20px;;
    margin-left:20px;
    display: inline-block;
}
.trusted{
    margin-top:100px
}
.sectionTitle.trustedTitle{
    margin-top:80px;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 30px;
}
.sectionTitle.trustedTitle h3{
    text-align: left;
}
.sectionTitle.trustedTitle a{
    font-size: 1.100em;
    width:150px;
    height: 40px;
    line-height: 30px;
    border-radius: 10px;
    margin-right:30px;
    transition: all .5s;;
}
.postJobBtn{
    color:#18407C;
    border:1px solid #18407C;
    background-color: white;
}
.postJobBtn:hover{   background-color:#18407C;
    color:white;
    border:1px solid #18407C;
    transition: all .5s;;}
.applyBtn{
    background-color:#18407C;
    color:white;
    border:1px solid #18407C;
  
}
.applyBtn:hover{
    color:#18407C;
    border:1px solid #18407C;
    background-color: white;
    transition: all .5s;;
}
.IntrestedBox{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 26px #00000029;
border-radius: 20px;
padding:50px 20px;
overflow: hidden;
border:2px solid transparent;
border-left: 25px solid transparent;
transition: all .5s;;
margin-bottom:30px;
}
.IntrestedBox:hover{
    border:2px solid #18407C;
    border-left: 25px solid #18407C;
}
.IntrestedImg{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 26px #0000001A;
border-radius: 50%;
padding:20px 30px;
width:100px;
height:100px;
margin-right:15px;
}
.case{
    width:160px;
    height:40px;
    display: block;
    border-radius: 10px;
    font-size: 1.100em;
    text-align: center;
    line-height: 40px;
}
.case i{
margin-right:9px
}
.green{
    background-color: #58D2897A;
    color:#037C23
}
.intrestedJobDetails h3{
    margin:20px 0;
color:#121212;
   font-size: 1.650em;
   text-align: left;

}
.IntrestedBox:hover h3{
color:#18407C;
}
.intrestedtag{
   padding:10px 10px;
    box-shadow: 0px 3px 26px #0000001A;
border-radius: 10px;
margin-right: 10px;
color:#8C98AA;
display: block;
float: left;
margin-bottom: 10px;;
}
.intrestedtag i{
    color:#CCB892;
    margin-right: 9px;;
}
.btnIcon{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left:10px ;
    padding:5px;
}
.Browse{
    background-color: #18407C;
    padding: 10px;
    font-size: 1.100em;
    border-radius: 10px;
    color:white;
    border:1px solid #18407C;
}
.Browse:hover{
background-color: transparent;
color:#18407C
}
.orange{
    color: #FF9404;
    background-color: #D2BA587A;
}
.BrowseAll{
    display: inline-block;
    width:200px;
    margin:auto;
    margin-top:50px;
    float: none !important;
}
.Popular{
margin-top:130px
}
.Popular .leftImg{
    height: 500px;
}
.Popular .rightImg{
height:280px;
margin-bottom:20px;
} 
.Popular .rightImg.rightImg2{
height:200px;
}
.PopularIcon {
    width: 50px;
    height: 50px;
    background: #E1EDFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    margin-right: 10px;
    display: inline-block;
    padding:12px 15px;
}
.PopularSection {
    margin-bottom: 20px;
    display: inline-block;
    width:48%;
}
.PopularSection.noMargin{
    margin-right:0;
}
.PopularSection h4{
display: inline-block;
font-size:1.100em;
color:#121212
}
.Popular p{
    margin-bottom:45spx
}
.CompaniesCarItem{
    height: 130px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 26px #00000029;
border-radius: 10px;
padding:30px 60px;

}
.CompaniesCar .owl-stage-outer { 
    overflow: visible;
    }
    
 .CompaniesCar .owl-item {
       opacity: 0;
       transition: opacity .2s;
    }
 .CompaniesCar .owl-item.active {
      opacity: 1;
    }
    .CompaniesCar .owl-nav{
        width:100%;
        position: absolute;
        top:45%;   
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
width:30px;
height:30px;
border-radius: 50%;
background-color: #18407C;
position: absolute;
}
.owl-carousel .owl-nav button.owl-prev{
left:-14px;
}
.owl-carousel .owl-nav button.owl-next{
    right:-14px; 
}
.CompaniesCar .owl-nav button i{color:white;
font-size:17px}
.careerBox{
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 26px #00000029;
border-radius: 20px;
height: 500px;
margin-bottom:20px;
}
.careerBox:hover .careerContent h4{
    color:#18407C
}
.careerImg{
border-radius: 20px;
height:45%;
overflow: hidden;
}
.careerDate{
    background-color: white;
    width: 92%;
    margin: auto;
    margin-top: -20px;
    box-shadow: 0px 3px 6px #0000000F;
    border-radius: 10px;
    padding: 11px 19px;
    position: relative;
}
.careerDate span:first-child{
    margin-right:5px
}
.careerDate span a{
    color:#18407C;
    font-size: 1.100em;
}
.careerContent{
    padding:20px;
    text-align: center;
    

}
.careerContent h4{
    font-size:1.650em;
    color:#121212;
    margin-bottom: 12px;
}
.careerContent p{
    color:#8C98AA;
    font-size:1.100em;
  
    margin-bottom: 20px;
    word-break: break-all;
    height:60px;
    overflow: hidden;
}
.tail{
    padding-top:20px;
    border-top:1px solid #70707080;
    margin-top: 20px;
}
.careerContent a{
    font-size:1.100em;
    color:#18407C;
}
footer{
    padding-top:200px;
    background: #18407C 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
position:relative;

}
footer:before{
    content:'';
    position:absolute;
    background:white;
    width:100%;
    height: 163px;
    top:0;
    left:0;
    border-radius:40%;
    transform:translatey(-50%);
    z-index: 0;
}
.footerTitle{
    color:#FFFFFF;
    font-size:1.650em;
    margin-bottom:30px;
}
.social {
    margin-top:20px;
}
.social li{
    display: inline-block;
    margin-right:18px;
}
.social li a{
    color:white;
    font-size:18px;;
}
footer p{
    color:white;
    font-size:1.100em
}
.footerList li{
margin-bottom:8px;
}
.footerList li a i{
    font-size:14px;
    margin-right:8px;
}
.footerList li a{
    color:white;
    font-size:1.100em;
}
.subscribe{
  position: absolute;
  top:-10%;
  width:100%;
}
.subscribeBox{
    width:100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 26px #00000029;
border-radius: 20px;
padding:50px;
text-align: center;

}
.subscribeBox h4{
    color:#121212;
    font-size: 2.000em;
}
.subscribeBox form{
    position: relative;
    width:80%;
    margin:auto;
    margin-top:30px;
    height:50px;
}
.subscribeBox form .form-control{
    border: 1px solid #18407C;
border-radius: 10px;
height:50px;
}
.subscribeBtn{
    position: absolute;
    height: 50px;
    width:20%;
    top:0;
    right:0;
    color:white;
    background-color: #18407C;
    border:1px solid #18407C;
    border-radius: 0px 10px 10px 0px;
    transition: all .5s;;
}
.subscribeBtn:hover{
    color:#18407C;
    background-color: transparent;
    transition: all .5s;;
}
.subscribeImg{
    position: absolute;
    width:60px;
    left:60px;
    bottom:20px;
}
.subscribeImg1{
    left:auto;
    right:70px;

}
.subscribeImgTop{
    position: absolute;
    width:30px;
    left:150px;
    top:20px;
}
.subscribeImgTop1{
    position: absolute;
    width:30px;
    right:150px;
    left:auto;
}
.copyRights{
    margin-top:120px;
    padding:20px 0;
    border: 1px solid #FFFFFF66;
}
.copyText{
    color:#FFFFFF;
    font-size: 1.100em;
}
.searchBox .formGroup:last-child{
    padding:0;        
}
.scrollNav {
    top: 0 !important;
    z-index: 555;
    animation-duration: .5s;
    background-color: #CCB892;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    right:0;
    transition: all .5s;;
    animation:sticky;
}
.innerMenu{
    background-color: #CCB892;
}
.innerTopHadet .logo a{
    color:#121212;
}
.innerTopHadet .contactDetails span,.contactDetails p {
    color:#121212;
}
.innerTopHadet .contactIcon img {
    filter: invert(100%); 
}
.innerContent{
    background-image: url("../images/About/inner.png");
    margin-top:0;
    padding:100px 0;
}
.innerContent h1{
    color:white;

}
.innerContent p a{
    color:white;
}
.innerFooter:before{
    display: none;
}
.regBox{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 26px #00000029;
border-radius: 20px;
padding:50px;
}
.postJobBox.regBox{
    box-shadow: none;
    padding: 0;
    margin-top:40px;
}
.innerBody{
    padding:100px 0;
}
.uploadImg{
    width: 80px;
    height:80px;
    border-radius: 50%;
    margin:auto;
    margin-bottom:16px;
    background-color: #EDF0F5;
    text-align: center;
    padding:25px 10px; 
    overflow: hidden;

    
}
.uploadprofileImg.uploadImg{
    padding:0;;
}
.regBox form label i{
    margin-right:5px;
}
.regBox form label .uploadImg i{
    font-size:26px;
    margin:0;
}
.regBox form label{
    font-size:0.900em;
    text-align: center;
    margin:auto;
    display: block;
}
.uploadImg input[type="file"]{
    opacity: 0;
    width:0;
    display: none;
}
.uploadImg img{
    display: none;
}
.uploadprofileImg.uploadImg img{
    display: block;
}
.form-group{
    width:100%;
    margin-top:20px;
    position: relative;
}
.regBox .form-group a {
    position: absolute;
    right:10px;
    top:40px;
    color:#8C98AA;
}
.regBox form .form-control{
    width:100%;
    border:1px solid #DCE2EB;
}
.regBox form .form-control::placeholder{
    color:#8C98AA;
    font-size: 0.900em;;
}
.regBox form  .form-group label{
    text-align: left;
    margin-bottom: 10px;
}

.checkboxformgroup label.checkBoxLabel{
   color:#8C98AA;
   display: inline-block;
}
.regBtn{
    background-color: #18407C;
    color:white;
    border-radius: 10px;
    font-size: .900em;
    padding:10px;
    margin:auto;
    width:130px;
    border: 1px solid #18407C;
}
.regBtn:hover{
    background-color: transparent;
    color:#18407C;
}
textarea.form-control{
    resize: none;
    height:150px;
}
.googlemap{
    border-radius: 25px;;
    overflow: hidden;
}
.haveAccoun p{
    color:#121212;
    font-size: 1.100em;
    margin-bottom: 12px;;
}
.haveAccountBox {
    background-color: #EDF0F5;
    border-radius: 10px;
    padding:15px 20px;
}
.haveAccountBox span{
    font-size: 1.100em;
    color:#8C98AA;
    width:85%;
    display: block;
    float: left;
}
.halfFormGroup{
    width:49%;
    display:inline-block;
    margin-right:15px;
}
.halfFormGroup.noMargin{
    margin-right:0;
}
.threeFormGrpup{
    width:32%;
    margin-right:15px;
    display: inline-block;
}
.threeFormGrpup.noMargin{
    margin-right: 0;
}
.postJobForm label span{
    font-size: .900em;
    color:#8C98AA;
}
select.form-control {
    color:#8C98AA;
}
textarea.form-control.jobTextArea{
    height:150px;
}
.CompanyDetails{
    margin-top:30px;
}
form h4,.SocialMediaBox h4{
    font-size:1.650em;
}
.SocialMediaBox h4{
    color:white;
}
#button{
    position: relative;
    left:-1px;
    background-color:#446655;
    }
    .SubmitPost{
        margin-top:50px;
    }
    
    .loginBox{
        width:60%;
        float: left;
        padding:35px 25px;
        border-radius: 0;
        box-shadow: none;
    }
    .SocialMediaBox{
        background-color: #18407C;
        width:40%;
        float: left;
        padding:35px 25px;
    }
    .SocialMediaBox p{
        color:white;
    }

    .loginContainer{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 26px #00000029;
        border-radius: 20px;
       
        overflow: hidden;
    }
    .forgetPassword{
        float: right;margin-top:14px;
        color:#121212;
        font-size: .9em;

    }
    .loginSocial{
        width:100%;
        height:50px;
        border-radius: 10px;
        margin-bottom:20px;
        padding:14px 20px;
    }
    .facebookLogin{
        background-color: #3B5999;
        
    }
    .loginIcon{
        padding-right:20px;
        border-right:1px solid #fff;
        margin-right:20px;
        display:inline-block;
        width:30px;
    }
    .loginSocial a{
        font-size: .9em;
        color:#FFFFFF;
    }
    .googleLogin .loginIcon{
        border-right:1px solid #121212;
    }
    .googleLogin{
        background-color: white;;
    }
    .googleLogin a{
color:#121212;
    }
    .linkedLogin{
background-color: #0077B5;
    }
    .fa-google {
        background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
      }
      .DashboardBody{
          width:100%;
          display: flex
          ;
      }
      .leftSide{
        width: 25%;
        float: left;
        border-collapse: collapse;
        background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 26px #00000029;
padding:50px 0;
position: relative;
z-index: 1;
      }
      .NameSection{
          padding:0 30px;
          margin-bottom:20px;
      }
      .DashboardImg{
        box-shadow: 0px 3px 10px #00000029;
        width:90px;
        height:90px;
        border-radius: 50%;
        overflow: hidden;
        margin-right:20px;
      }
      .DashboardNav .nav-link{
          padding: 20px 50px;
          border-top:1px solid #00000029;
          color:#121212
      }
      .DashboardNav .nav-link.active{
background-color: #18407C;
      }
      .NameSection h4{
          font-size:1.650em;
          color:#121212;
          line-height: 2.5;
      }
      .DashboardNav .nav-link i{
     margin-right: 15px;;
          border-radius: 50%;
          background-color: #EDF0F5;
          color:#121212;
          padding:10px;
      }
      .rightSide{
          width:75%;
          float: left;
          padding:70px 100px;;
          position: relative;
          z-index: 1;
      }
      .DashboardBox{
        box-shadow: 0px 3px 26px #00000029;
        border-radius: 20px;
        padding:30px 0;
        text-align: center;
        margin-bottom:20px;
      }
.DashboardIcon{
    margin:auto;
    border-radius: 50%;
    background-color: #EDF0F5;
    color:#121212;
    padding:10px;
    width:50px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;;
}
.DashboardIcon i{
    line-height: 30px;
}
.DashboardBox h4{
    font-size:1.650em;
    color:#121212;
    margin-bottom: 10px;
}
.DashboardBox p{
    font-size: 1.100em;
    color:#8C98AA;
    margin:0;
}
.rightSide .IntrestedImg{
    width: 80px;
    height: 80px;
    padding: 20px 24px;
}
.rightSide .regBox .regBtn{
    width:auto
}
.BlogDetailsImg{
    width:100%;
    margin-bottom: 43px;
    border-radius: 20px;
    overflow:hidden;
}
.BlogDetailsDate {
  margin-bottom:25px;
}
.BlogDetailsDate span a{
    color:#18407C;
    font-size: 1.100em;
    margin-right:20px;
}
.BlogDetailsTitle{
    font-size: 1.650em;
    color:#000000;
    margin-bottom:20px;
    font-weight: 500;
}
.BlogDetailsContent p{
    font-size:1.100em;
    color:#000000;
    margin-bottom: 15px;
}
.BlogDetailsContent.careerBox{
    margin-bottom:35px;
}

.BlogDetails .careerDate span a{
    font-size: 1em;
}
.commentBox{
    box-shadow: 0px 3px 26px #00000029;
border-radius: 20px;
padding: 20px;
margin-bottom:20px;
}
.commentImg{
    width:80px;
    height:80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right:20px;

    display: inline-block;
}
.commentDetails .BlogDetailsTitle{
    font-weight: 400;
    margin:0;
}
.commentDetails{
    display: inline-block;
    width:84%
}
.commentDetails span{
    display: block;
    font-size:1.100em;
    color:#8C98AA;
}
.commentDetails p{
    font-size: 1.100em;
    color:#000000;
    margin-top:25px;
}
.commentBox.replyBox{
    margin-left:60px;
}
.comments{
    margin-top:30px;
}
.searchBlog {
    position: relative;
}
.blogBox .BlogDetailsTitle{
    margin-bottom: 25px;
}
.searchBlog i{
    position: absolute;
    right:10px;
    color:#8C98AA;
    top:10px;
    font-size:14px
}
.latestBlogImg{
    width:60px;
    height:60px;
    overflow: hidden;
    border-radius: 10px;
    margin-right:10px;
}
.latestBlogDetails h6,span{
    font-size: 1.00em;
    color:#121212;
    margin:0;
}
.latestBlogDetails span{
  color:  #8C98AA
}
.latestBlog{
    margin-bottom: 30px;
}
.leavReply .halfFormGroup{
    width:48.5%
}
.leavReply{
    margin-top:50px
}
.leavReply .regBtn{
    margin-top:50px;
}
.BlogBox .regBtn{
    margin-top:40px;
}
.regBtn.LoadMore{
    margin-top:50px
}
.jobsHeader .case.green{
background-color: white;
}
.jobsHeader .case.orange{
    background-color: white;
}
.jobsHeader .intrestedJobDetails h3{
    color:white;
}
.jobsHeader .intrestedtag i.fa-star{
    color:#FFBD02
}
.jobsHeader .intrestedtag i,.jobsHeader .intrestedtag {
    color:#18407C
}
.jobsHeader .intrestedtag{
    background-color: white;
}
.jobsHeader .intrestedJobDetails{
    width:77%;
}
.saveJob{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 20px;
padding: 40px 20px;
}
.saveJob a{
    display: block;
    width:130px
}
.saveJob .applyBtn{
    margin-bottom: 30px;
}
.jobCont p{
    font-size:1.00em;
    color:black;
    margin-bottom: 0;
}
.jobCont ul li{
    list-style-type: disc;
}
.jobCont .BlogDetailsTitle{
    margin-bottom: 15px;;
}
.jobCont{
    margin-bottom: 40px;;
}
.jobCont:first-child{
    margin-bottom: 100px;
}
.jobCont .Responsibilities li{
    list-style-type: none;
    margin-bottom: 15px;;
}
.jobIcon{
width:30px;
margin-right:15px
}
.desc h5{
color:#18407C;
font-size: 1.650em;

}
.desc span{
    font-size:1.100em;
    color:#8C98AA;
}
.jobBox{
    padding-top:80px;
}
.jobBox li{
    margin-bottom: 15px;;
}
.TagBox{
    padding:30px;
}
.tag.regBtn{
    width:auto;
    float: left;
    margin-right: 15px;;
    margin-bottom: 15px;;
}
.jobsHeader .intrestedJobDetails .case{
    margin-top:0;
}
.innerBody .searchBox{
    box-shadow: 0px 3px 26px #00000029;
    margin-bottom:80px
}
.jobTitle{
    font-size:1.818em;
    color:#000
}
.jobBody .IntrestedImg{
    width:90px;
    height:90px;
}
.jobBody .intrestedJobDetails {
    width:84%;
}
.jobBody .regBtn.loadMore{
    width:auto;
}
.checkboxCont{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkboxCont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border:1px solid #70707080;
  }
  .container:hover input ~ .checkmark {
    background-color:white;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxCont input:checked ~ .checkmark {
    background-color: #18407C;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxCont input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxCont .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .jobsideList li{
      margin-bottom: 15px;;
  }
  .jobsideBox {
      margin-bottom: 20px;
  }
  .jobsideBox .BlogDetailsTitle{
      margin-bottom: 0;;
  }
  .progress{
      margin-top:10px;
      height:2px;
      margin-bottom: 20px;
  }
  .progress-bar{
      background-color: #18407C;
      width:20%;
     
  }
#amount{
    position: absolute;
    background-color: #18407C;
    border-radius: 10px;
    color:white;
    width:200px;
    height:50px;
    top: -63px;
    left: 14%;
    text-align: center;
border:0
}
.sliderCon{
    position: relative;
    margin-top:100px
}
.ui-widget.ui-widget-content{
    height:5px;
    background-color: #70707080;
}
.ui-slider-horizontal .ui-slider-range {
  
    background: #18407C;
}
.ui-slider-handle{
    width: 16px;
height: 16px;
background: #18407C 0% 0% no-repeat padding-box !important;
border-radius: 50%;
top: -7px !important;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 8px;
    left: 44%;
    border-top: 10px solid #18407C;
  }
@media(min-width:300px) and (max-width:767px){
    body{
        font-size:12px;
    }
    .menu .logo{
        display: block;
    }
    .loginBtns{
        margin-top:5px;
        float: none !important;
    }
    .loginBtns  a{
        padding:0;
        display: block;
        margin-top:5px
    }
    .CompaniesCar .owl-stage-outer { 
        overflow: hidden;
        padding:20px 0;
        }
        .searchBox{
            width:100%;
        }
        .searchBox .formGroup{
width:100%;
height:60px;
padding:0;
        }
 .searchBox .formGroup .form-control{
height:60px;
        }
        .topHeader{
            display: none;
        }
        .searchInner{
            height:auto
        }
        section{
            padding-top:20px;
        }
        .IntrestedBox {
           padding: 39px 10px;
            border: 2px solid transparent;
            border-left: 8px solid transparent;}
        .sectionTitle.trustedTitle a {
            font-size: 1.100em;
            width: 111px;}
            .IntrestedImg {
                padding: 20px;
                width: 80px;
                height: 80px;
                display: block;
}
.intrestedJobDetails{
    display:block;
}
.case{
    margin-top: 24px;
}
.Browse{
    float: none !important
}
.intrestedtag{
    margin-bottom: 20px;
    color: #8C98AA;
    display: block;
    float: left;

}
.Popular{
margin-top:20px;
}
.PopularIcon {
    width: 40px;
    height: 40px;
    margin-right: 2px;}
    .PopularSection{
        width:100%;
    }
    .footerTitle{
        margin-top:20px;
    }
    .subscribeBox{
        padding:10px;
    }
    .subscribeBox form{
        width:100%;
    }
    .subscribe{
        top:-20px;
    }
    footer:before {
        content: '';
        height: 18px;}
        .subscribeImgTop,.subscribeImg{
            display: none;
        }
        .subscribeBtn {
            width: 40%;}
            .halfFormGroup {
                width: 100%;
            margin-right:0;
            } 
                .threeFormGrpup {
                    width: 100%;
                    margin-right:0;}
                    footer {
                        padding-top: 50px;}
.loginBox {
    width: 100%;}   
.SocialMediaBox{
    width:100%
}  
.DashboardBody{
    display: block;
}
.leftSide,.rightSide{
    width:100%;
    float: none;
}   
.rightSide{
padding:30px 10px;
}
.regBox{
    margin-bottom: 20px;;
}
.commentDetails{
    width:80%;
}
.commentImg {
    width: 50px;
    height: 50px;

    margin-right: 9px;}

.commentBox .regBtn {
    width: 91px;}

.commentBox.replyBox .commentDetails {
    width:100%;
}
.jobsHeader .intrestedJobDetails{
    width: 75%;
}
.saveJob{
    float: none !important;
    width: 70%;
    margin: auto;
    text-align: center;
}
.saveJob .applyBtn{
    margin-bottom: 30px;;
}
.saveJob a{
    margin:auto;

}
.innerContent{
    padding-top:30px;
    background-repeat: no-repeat;
}
.jobsHeader .IntrestedImg  {  width: 65px;
height: 65px;}
.innerBody{
    padding:30px 0;
}
.jobBody .intrestedJobDetails{
    width:100%;
}
}

@media(min-width:768px) and (max-width:1023px){

    .sectionTitle.trustedTitle a{
        margin-right: 10px;
    }
    .IntrestedImg{
        width:60px;
        height:60px;
        padding: 17px;
    }
    .intrestedJobDetails{
        width:80%;
    }
    .CompaniesCar .owl-stage-outer { 
        overflow: hidden;
        padding:20px 0;
        }
        .intrestedtag{
            margin-bottom: 20px;
            color: #8C98AA;
            display: block;
            float: left;
        }
        .PopularSection{
            width:100%;
        }  
        .careerBox{
height:530px
        } 
        .menu .logo{
            display: block;
        }
        .contactDetails span {
            font-size: 0.700em;}
            .topHeaderContact {
                margin-right: 8px;
            }
            .contactDetails p {
                font-size: 1.00em;}
                .contactIcon {
                    width: 32px;
                } 
                .halfFormGroup {
                    width: 48%;} 
                    .threeFormGrpup {
                        width: 31%;}   
                        .topHeader{
                            display: none;
                        }  
                        footer{
                            padding-top:20px;
                        } 
                        .loginBox {
                            width: 100%;}   
                        .SocialMediaBox{
                            width:100%
                        } 
                        .DashboardBox{
                            margin-bottom: 20px;
                        }   
                        .leftSide{
                            width:40%;
                        }     
                    .rightSide{
                        width:60%;
                        padding:50px 20px
                    }
                    .DashboardImg {
                        width: 70px;
                        height: 70px;}
                        .NameSection h4 {
                            font-size: 1.350em;}
                            .regBox{
                                margin-bottom: 20px;;
                            }
                            .leftSide,.rightSide{
                                width:100%;
                                float: none;
                            }
                            .DashboardBody{
                                display: block;
                            }
                            .jobBody .intrestedJobDetails{
                                width:100%;
                            }
}
@media(min-width:1024px) and (max-width:1100px){
    .navbar-expand-lg .navbar-nav .nav-link, .loginBtns a {
    
        padding: 0 13px;}
        .CompaniesCarItem {
         
            padding: 30px 39px;}
            .CompaniesCar .owl-stage-outer { 
                overflow: hidden;
                padding:20px 0;
                }
                .careerBox{
                    height:530px
                            }
                            .topHeader{
                                display: block
                            }
        .topHeaderContact{
margin-right:10px;
        }
        .intrestedtag {
            display: block;
            float: left;
            margin-bottom: 10px;
}
.halfFormGroup {
    width: 48%;}
    .threeFormGrpup {
        width: 31%;}
        .rightSide{
           padding:30px 10px;
        }
        .intrestedJobDetails {
width:80%;
        }
        .jobBody .intrestedJobDetails{
            width:80%;
        }
}